.centralized {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right
{
	text-align: right;
}

.minwide {
	display: inline-block;
	min-width: 160px;
}

.narrow {
	max-width: 500px;
}

textarea {
	max-width: 450px;
}