.centralized {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right
{
	text-align: right;
}

.minwide {
	display: inline-block;
	min-width: 160px;
}

.narrow {
	max-width: 500px;
}

textarea {
	max-width: 450px;
}

div.chat
{
	max-height: 400px;
	padding-top:10px;
	padding-bottom:15px;
	padding-right:10px;
	margin-left:20px;
	margin-right:10px;
	margin-top:15px;
	margin-bottom:20px;
	overflow:auto;
}

div.ppl_list
{
	max-height: 400px;
	padding-top:10px;
	padding-bottom:15px;
	margin-left:15px;
	margin-right:20px;
	margin-top:15px;
	margin-bottom:20px;
	overflow:auto;
}